@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SPAViews {
    <div id="_download" class="parent-size shared">
        <div>
            <span style="font-size:18px; padding-left:30px">Download List</span>
            <a class="pull-right delete-history">Delete all Download history</a>
        </div>
        <div class="row history_container">

        </div>


        <template id="downloadTemplate">
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail" style="min-width:240px; min-height:135px">
                        <div class="image view view-first" style="height:100%; width:100%">

                            <div class="box" style="padding:0; height:180px;overflow:hidden;border:none;background-color:transparent;">
                                <div class="ribbon movie_watched" style="display:none">
                                    <span class="movie_status">Download</span>
                                </div>
                                <img class="movie_thumbnail" style="width: 100%;height:180px; display: block;" src="" />
                                @*<img class="movie_thumbnail" style="width: 100%; display: block; height:100%" src="" />*@
                            </div>

                            <div class="mask parent-size" ontouchstart="">
                                <div class="tools">
                                    <a class="movie_play"><i class="fa fa-play"></i> play</a>
                                </div>
                            </div>
                            <label class="movie_duration mask" style="opacity:1; width:auto; display:flex; background-color:black; color:white; padding:0 2px;">4:30</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 zero-margin">
                    <div class="row" style="margin-left: 0;">
                        <h4 class="movie_title"></h4>
                    </div>
                    <div class="row" style="margin-left: 0;">
                        <label class="movie_owner"></label>
                    </div>
                    <div class="row" style="margin-left: 0;">
                        <span class="pull-right movie_views"></span>
                        <span class="pull-left  movie_publish"></span>
                    </div>
                    <div class="row" style="margin-left: 0;">
                        <a class="movie_videoDownloadRequest">
                            <p class="fa fa-file-video-o" style="margin-top:10px; margin-left:1px;"> video </p>
                        </a>
                        <a class="movie_soundDownloadRequest">
                            <p class="fa fa-music" style="margin-top:10px; margin-left:1px;"> sound only </p>
                        </a>
                    </div>
                    <div class="row" style="margin-left: 0;">
                        <label class="movie_infomation"></label>
                    </div>
                    <div class="row" style="margin-left: 0;">
                        <div class="progress movie_progress"></div>
                    </div>
                    <div class="row" style="margin-left: 0;">
                        <a class="movie_downloadLink" target="_blank" download></a>
                    </div>
                </div>
                <iframe class="movie_frame" src="" style="display:none"></iframe>
            </div>
        </template>
    </div>
}
@section Scripts{

    <script>
        $.BindingAnnotation("#_download",
            function () { return GrandMonsieur.Download.DownloadView; },
            function () { return GrandMonsieur.Download.DownloadViewModel; });
    </script>

}
